.btn {
    padding: var(--size-2) var(--size-4);
    border-radius: var(--radius-2);

    display: inline-flex;
    align-items: center;
    gap: var(--size-2);

    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    svg {
        width: var(--size-4);
        height: var(--size-4);
    }
}

.btn-primary {
    background-color: var(--color-primary-blue);
    color: white;

    &:hover, &:focus {
        background-color: var(--color-primary-blue-dark);
    }
}


.btn-secondary {
    background-color: var(--color-light-blue);
    color: black;

    &:hover, &:focus {
        background-color: var(--color-primary-blue-dark);
        color: white;
    }
}

.btn-tertiary {
    background-color: transparent;
    color: var(--color-primary-blue);
    text-decoration: underline;

    &:hover, &:focus {
        color: var(--color-primary-blue-dark);
    }
}