.container {
    --max-content-width: 100%;
    --padding-inline: 20px;

    display: grid;
    grid-template-columns:
        [grid-start] minmax(0, 1fr) [content-start] minmax(min(100%, calc(var(--max-content-width) - 2 * var(--padding-inline))), 1fr) [content-end] minmax(0, 1fr) [grid-end];

    :where(& > :not(.container-breakout)) {
        grid-column: content;
    }

    @media screen and (min-width: 640px) {
        --max-content-width: 640px;
    }

    @media screen and (min-width: 768px) {
        --max-content-width: 768px;
    }

    @media screen and (min-width: 1024px) {
        --max-content-width: 1024px;
    }

    @media screen and (min-width: 1280px) {
        --max-content-width: 1280px;
    }

    @media screen and (min-width: 1536px) {
        --max-content-width: 1536px;
    }
}