:root {
    --color-primary-blue: #4e86d4;
    --color-primary-blue-dark: #3a66a3;
    --color-light-blue: #a4c0cc;
    --color-soft-yellow: #e7d592;
    --color-warm-beige: #b3a680;
    --color-muted-green: #7c8b6f;
}