.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    padding-block: var(--size-4);

    background-color: var(--color-soft-yellow);
    

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 1024px) {
            justify-content: stretch;
            gap: var(--size-5);
        }
    }

    .header__logo {
        
    }

    .header__expanded {
        padding-block: var(--size-4);
        display: none;

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        background-color: var(--color-soft-yellow);


        @media screen and (min-width: 1024px) {
            position: static;
            
            display: flex;
            flex-grow: 1;
            background-color: transparent;
        }
    }

    .header__expanded-inner {
        padding-inline: var(--size-6);
        display: flex;
        flex-direction: column;

        gap: var(--size-4);

        flex-grow: 1;

        @media screen and (min-width: 1024px) {
            padding-inline: 0;
            flex-direction: row;

        }
    }

    .header-expanded__search {
        display: flex;
        justify-content: center;
        flex: 1;

        @media screen and (min-width: 1024px) {
            justify-content: flex-start;
        }

        .field-container {
            flex-grow: 1;
            max-width: 200px;

            display: flex;

            @media screen and (min-width: 1024px) {
                max-width: 300px;
            }

            input {
                flex-grow: 1;
            }
        }
    }

    .header-expanded__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-4);

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            margin-left: auto;
        }
    }

    .header-expanded__actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--size-4);

        @media screen and (min-width: 1024px) {
        }
    }

    .header__toggle {
        padding: var(--size-2);

        svg {
            width: var(--size-8);
            height: var(--size-8);
        }

        display: block;

        background-color: transparent;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &.is-expanded {
        .header__expanded {
            display: flex;
        }
    }
}