.dashboard-header {
    &__inner {
        padding-block: var(--size-3);
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: var(--size-2);

    }

    &__logo {
        display: flex;
        padding: var(--size-1);
    }
}

.dashboard-header-nav {
    &__links {
        display: flex;
        gap: var(--size-3);
    }
}

.nav-link {
    padding-inline: var(--size-3);
    border-radius: var(--radius-2);
    padding-block: var(--size-2);

    &.is-active,
    &:hover,
    &:focus-visible {
        background-color: rgba(0, 0, 0, 0.25);
    }
}